<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Player Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Player Details</h2>
<div>
    <p>Name: <span th:text="${player.name}">Player Name</span></p>
    <p>HP: <span th:text="${player.hp}"></span></p>
    <p>Experience: <span th:text="${player.experience}"></span></p>
    <p>Damage: <span th:text="${player.damage}"></span></p>
    <p>Weapon: <span th:text="${player.weapon}"></span></p>
    <p>Did obtain silver ring: <span th:text="${player.silverRingObtained}"></span></p>

</div>
</body>
</html>
